<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ibini books</title>

    <!-- reset css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <!-- fontawesome css: https://fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <!-- linear icons -->
    <!-- https://linearicons.com/free#cdn -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- naver font -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="/main/resources/static/css/common.css">
    <link rel="stylesheet" href="/main/resources/static/css/post-list.css">



    <!-- jquery -->
    <script src="/main/resources/static/js/jquery-3.3.1.min.js"></script>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- custom js -->
    <script src="/main/resources/static/js/common.js" defer></script>

</head>

<body>


    <div id="wrap">

        <!-- header -->
        <header>
            <div id="inner-header">
                <h1><img src="/main/resources/static/img/ibini_logo_4.png" alt=""></h1>

                <a href="#" class="menu-open">
                    <span class="user-name">이비니 님</span>
                    <span class="fas fa-bars"></span>
                </a>

            </div> <!-- // end inner-header -->

            <nav class="gnb">
                <a href="#" class="menu-close"><span class="far fa-window-close"></span></a>
                <ul>
                    <li><a href="#">메뉴1</a></li>
                    <li><a href="#">메뉴2</a></li>
                    <li><a href="#">메뉴3</a></li>
                    <li><a href="#">메뉴4</a></li>
                </ul>
            </nav> <!-- // end nav -->

        </header> <!-- end header -->


        <!-- 새 포스트 등록 섹션 -->
        <section id="reg-sec">
            <div class="inner-section">

                <!-- 새 글 등록 버튼 -->
                <div class="new-post">
                    <div class="reg-btn">
                        <span class="fas fa-plus"></span>
                        <h2>새 포스트를 등록해 보세요</h2>
                    </div>
                </div>
                <!-- 새 글 등록 메뉴 -->
                <div class="reg-menu on">
                    <ul>
                        <li>직접 입력해서 등록하기</li>
                        <li>검색해서 등록하기</li>
                    </ul>
                </div>
            </div> <!-- // end reg-sec -->
        </section> <!-- // end section -->


        <!-- 포스트 리스트 섹션 -->
        <section id="list-sec">
            <div class="inner-section">
                <!-- 포스트 목록 필터링 제목 -->
                <div class="section-h2">
                    <h2>전체 포스트</h2>
                </div>

                <!-- 포스트 개별 영역 -->
                <div class="item-wrap hover">
                    <!-- left : 표지, 즐겨찾기 -->
                    <div class="item-left">
                        <div class="thumb-box">
                            <img class="hover"
                                src="https://pbs.twimg.com/media/D1TH4BrU0AE4IAP?format=jpg&name=4096x4096"
                                alt="포스트 썸네일">
                        </div>
                        <div class="favorite-btn">즐겨찾기 <span class="fas fa-plus"></span> </div>
                    </div> <!-- // end item-left -->

                    <!-- center : 상세정보 -->
                    <div class="item-center">
                        <div class="center-top">
                            <!-- 별점 -->
                            <div class="star-rate" data-star-rate="3"></div>
                            <!-- 제목 -->
                            <div class="post-title">
                                <h3>신기방기 뿡뿡방기</h3>
                            </div>
                            <!-- 작가 -->
                            <div class="post-writer">윤정한</div>
                        </div>

                        <div class="pl-pu-warp">
                            <!-- 플랫폼 -->
                            <span class="plat-name hover">카카오페이지</span>
                            <!-- 연재주기 or 연재상태 -->
                            <span class="pu-cycle">매월 10일</span>
                        </div> <!-- // end pl-pu-wrap -->
                        <!-- 해시태그 -->
                        <div class="tag-one-line">#세븐틴 #13명 #1004</div>
                    </div> <!-- // end item-center -->

                    <!-- right : 분류, 진행도, 날짜 -->
                    <div class="item-right">
                        <div class="ca-ge-wrap">
                            <!-- 카테고리 -->
                            <div class="ca-name">웹소설</div>
                            <!-- 장르 -->
                            <div class="genre-name">일이삼사오육...</div>
                        </div>
                        <!-- 진행도 -->
                        <div class="read-percent">80%</div>
                        <div class="date-wrap">
                            <!-- 포스트 수정일 -->
                            <div class="post-reg-date">갱신 2022.08.25</div>
                            <!-- 포스트 등록일 -->
                            <div class="post-reg-date">작성 2022.08.01</div>
                        </div>
                    </div> <!-- // end item-right -->
                </div> <!-- // end item-wrap -->




            </div> <!-- // end  inner-section-->
        </section> <!-- // end list-section -->

    </div> <!-- end wrap -->



    <script src="/main/resources/static/js/post-list.js"></script>
    <script>
        // start jQuery
        $(document).ready(function () {
            // jQueryTagTest("태그 잡기 테스트", $('h1'));

            drawStars();





        });
        // end jQuery
    </script>


</body>

</html>