<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ibini books</title>

    <!-- reset css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <!-- fontawesome css: https://fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <!-- linear icons -->
    <!-- https://linearicons.com/free#cdn -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- naver font -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="/main/resources/static/css/common.css">
    <link rel="stylesheet" href="/main/resources/static/css/post-list.css">


    <!-- jquery -->
    <script src="/main/resources/static/js/jquery-3.3.1.min.js"></script>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- custom js -->
    <script src="/main/resources/static/js/common.js" defer></script>

</head>

<body>


    <div id="wrap">

        <!-- header -->
        <header>
            <div id="header-container">
                <div id="inner-header">
                    <!-- 
                    <h1><img src="/main/resources/static/img/ibini_logo_4.png" alt=""></h1>

                    <div class="menu">
                        <a href="#" class="menu-open">
                            <span class="user-name">이비니 님</span>
                            <span class="fas fa-bars"></span>
                        </a>
                    </div> -->
                </div> <!-- // end inner-header -->
            </div> <!-- // end header-container -->
        </header> <!-- end header -->

        <div id="content-wrap">
            <!-- 새 포스트 등록 섹션 -->
            <section id="reg-sec">
                <div class="inner-section">

                    <!-- 새 글 등록 버튼 -->
                    <a href="/post/write">
                        <!-- <div class="new-post">
                            <div class="reg-btn">
                                <span class="fas fa-plus"></span>
                                <h2>새 포스트를 등록해 보세요</h2>
                            </div>
                        </div> -->
                    </a>
                    <!-- 새 글 등록 메뉴 -->
                    <!-- <div class="reg-menu on">
                        <ul>
                            <li>직접 입력해서 등록하기</li>
                            <li>검색해서 등록하기</li>
                        </ul>
                    </div> -->
                </div>
                <!-- // end reg-sec -->
            </section>
            <!-- // end section -->


            <!-- 포스트 리스트 섹션 -->
            <section id="list-sec">
                <!-- 전체 목록 -->
                <div class="inner-section">
                    <!-- 포스트 목록 필터링 제목 -->
                    <div class="section-h2">
                        <h2>전체 포스트</h2>
                        <span class="h2-icon list-reset">
                            <i class="fas fa-undo-alt" title="전체 포스트 보기"></i>
                        </span>
                    </div>
                    <!-- 포스트 실제 목록 -->
                    <div class="post-list-box">
                        <!-- 포스트 개별 영역 -->
                        <div class="item-wrap hover">
                            <!-- left : 표지, 즐겨찾기 -->
                            <div class="item-left">
                                <div class="thumb-box">
                                    <img class="post-img"
                                        src="https://pbs.twimg.com/media/FcYYa3OaIAAYWCK?format=jpg&name=small"
                                        alt="포스트 썸네일">
                                </div>
                                <div class="favorite-btn">즐겨찾기 <span class="fas fa-plus"></span></div>
                            </div> <!-- // end item-left -->

                            <!-- right : 상세정보 -->
                            <div class="item-right">

                                <!-- right-1 : 장르, 플랫폼, 연재 정보 -->
                                <div class="right-1">
                                    <!-- 장르 -->
                                    <div class="genre-name" data-genre-id="1">판타지스릴러</div>

                                    <div class="pl-pu-wrap">
                                        <!-- 플랫폼 -->
                                        <span class="plat-name" data-platform-id="1"
                                            style="background-color: rgb(3, 199, 90); color:rgb(0, 0, 0)">네이버시리즈</span>
                                        <!-- 연재주기 or 연재상태 -->
                                        <span class="pu-cycle">매월 10일</span>
                                    </div>
                                </div> <!-- // end right-1 -->

                                <!-- right-2-1 : 제목, 작가, 별점 / right 2-2 : 진행도 -->
                                <div class="right-2">
                                    <div class="right2-1">
                                        <!-- 제목 -->
                                        <div class="post-title">
                                            <h3>전지적 독자시점</h3>
                                        </div>
                                        <!-- 작가 -->
                                        <div class="post-writer">윤정한</div> <br>
                                        <!-- 별점 -->
                                        <div class="star-rate" data-star-rate="9"></div>
                                    </div>

                                    <div class="right2-2">
                                        <!-- 진행도 -->
                                        <div class="read-percent">180%</div>
                                    </div>
                                </div> <!-- // end right-2 -->

                                <!-- 해시태그 -->
                                <div class="right-3">
                                    <div class="tag-one-line">#세븐틴 #13명 #1004</div>
                                </div> <!-- // end right-3 -->
                            </div> <!-- // end item-right -->
                        </div> <!-- // end item-wrap -->
                    </div><!-- // end post-list-box -->
                    <!-- 목록 하단부 (더보기 / 리스트 끝) -->
                    <div class="list-bottom">
                        <div class="show-more">더보기</div>
                        <div class="list-end"> 1/4 <i class="fas fa-arrow-up"></i></div>
                    </div>


                </div> <!-- // end  inner-section-->
            </section> <!-- // end list-section -->
        </div>
    </div> <!-- end wrap -->


    <script src="/main/resources/static/js/post-list.js"></script>
    <script>
        let oneLineTag;
        // 별 특수문자 채우는 함수
        function drawStarsAtList() {
            const $stars = document.querySelectorAll('.star-rate');
            //    console.log($stars);

            for (let i = 0; i < $stars.length; i++) {
                const num = $stars[i].dataset.starRate;
                //    console.log(num);
                let msg = '';
                for (let j = 0; j < num; j++) {
                    msg += '⭐';
                }
                $stars[i].textContent = msg;
            }

        }

        // start jQuery
        $(document).ready(function () {
            // jQueryTagTest("태그 잡기 테스트", $('h1'));

            // 별점에 따른 별 찍기
            drawStarsAtList();



        });
        // end jQuery
    </script>


</body>

</html>