/* reset */
a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
}

button,
input {
    background-color: inherit;
    border: none;
}

ul{
    margin: 0;
    padding: 0;
}

/* common style */
#wrap {
    font-size: 18px;
    width: 1000px;
    margin: 0 auto;
    color: inherit;
    font-family: 'NanumSquareRound', sans-serif;
}

/* 섹션 틀 */
section {
    width: 90%;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    margin: 300px auto 0;
    padding: 30px;
    box-sizing: border-box;
}