@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
    color: red !important;
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
    color: #0099ff !important;
}

.ui-datepicker-calendar>thead>tr>th:first-child {
    color: red !important;
}

.ui-datepicker-calendar>thead>tr>th:last-child {
    color: #0099ff !important;
}

.ui-widget-header {
    border: none;
    background: #fff;
    color: #222222;
    font-weight: bold;
    font-family: 'NanumSquareRound', sans-serif;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    font-family: 'NanumSquareRound', sans-serif;
    text-align: center;
    
    height: 30px;
}

.ui-datepicker select.ui-datepicker-month {
    margin-left: 0.3rem;
    width: 30%;
}

.ui-state-hover:hover {
    border: none;
    background: #ffe89f;
}

tr {
    font-family: 'NanumSquareRound', sans-serif;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover {
    background: #ffca3d;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0px solid #d3d3d3;
    background: #ffe89f;
    font-weight: normal;
    text-align: center;
    color: #555555;
    margin: 0.2rem;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #ffca3d;
    border-radius: 50%;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.ui-datepicker table {
    box-shadow: none;
}