section #inner-section {
    width: 90%;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    margin: 250px auto 0;
    padding: 30px;
    box-sizing: border-box;
}

h2, h3{
    font-family: 'NanumBarunGothicBold';
}


/*----------이미지, 포스트 정보 영역----------*/
section #img-post-wrap {
    /* border: 1px solid #ffca3d; */
    border-radius: 0.25rem;
    display: flex;
}



/* ----- 이미지 영역 ----- */
#img-post-wrap #img-wrap {
    /* background-color: #ffca3d; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 295px;
    flex-shrink: 0;
    margin-top: 40px;
}

#img-wrap .post-img {
    overflow: hidden;
    width: 100%;
    border: 1px solid #ffca3d;
    border-radius: 0.25rem;
}

/* 썸네일 이미지 */
#img-wrap #thumb-img {
    border-radius: 0.25rem;
    width: 210px;
    height: 292px;
    overflow: hidden;
    cursor: pointer;

    order: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 첨부 이미지, 방향키 목록 */
#img-wrap #img-arr-wrap {
    border-radius: 0.25rem;
    overflow: hidden;

    order: 1;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* 첨부 목록 방향 아이콘 */
#img-wrap #img-arr-wrap .slick-arrow {
    border-radius: 0.25rem;
    text-align: center;
    color: #000;
    cursor: pointer;
}

#img-wrap #img-arr-wrap .slick-arrow:hover {
    background-color: #ffca3d;
}

/* 첨부 이미지 */
#img-wrap .img-box-wrap {
    display: flex;
    flex-flow: column nowrap;
}

#img-wrap .img-box-wrap .img-box {
    width: 70px;
    height: 60px;
    overflow: hidden;
    
    border-radius: 0.25rem;
    margin: 3px 0;
    cursor: pointer;
}
#img-wrap .img-box-wrap .img-box.img-half-down{
    height: 30px;
}



/* ----- 포스트 정보 영역 ----- */
#img-post-wrap #post-box {
    padding-left: 10px;
    box-sizing: border-box;
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* #post-top : 별점, 장르, 카테고리 */
#post-box #post-top {
    display: flex;
    justify-content: end;
    align-items: center;
}


#post-box #post-top .top-span {
    /* background-color: #adb5bd; */
    /* color: #fff; */
    border-radius: 50em;
    border: 1px dotted #555;
    padding: 0.2em 0.7em;
    margin-left: 5px;
    font-weight: 700;
}

/* #post-middle : 제목, 작가, 연재 상태, 페이지*/
#post-box #post-middle{
    color: #787878;
    text-align: center;

    display: flex;
    flex-direction: column;
}
#post-middle #post-title {
    font-size: 1.5em;
    font-weight: 700;
}

/* 책 제목 */
#post-middle #post-title h2{
    margin-top: 15px;
    margin-bottom: 0;
    color: #000;
}
/* 작가 이름 */
/* #post-middle #post-writer {
}  */


/* 연재 상태, 현재, 전체 페이지 테이블 */
#post-middle .middle-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#post-middle .middle-table td{
    width: 500px;
    padding: 0 10px;
}
#post-middle .middle-table .first-td{
    border-right: 1px solid #adb5bd;
    text-align: right;
}
#post-middle .middle-table .last-td{
    text-align: left;
}
#post-middle .middle-table .empty-tr td{
    color: #fff;
    line-height: 10px;
}
#post-middle .middle-table .modi-hotkey{
    font-size: 1.5em;
    line-height: 1.5em;
    color: #999;
}
#post-middle .middle-table .modi-hotkey:hover{
    transform: scale(1.2);
}

/* #post-bottom : 날짜, 버튼*/
#post-box #post-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#post-box #post-bottom .date-wrap{
    font-size: 0.8em;
}
#post-box #post-bottom .post-btn{
    font-size: 1.5em;
    color: #555;
}
#post-box #post-bottom .post-btn:hover{
    transform: scale(1.2);
}



/* ---------- 리모컨, 기타 영역 ----------  */
section #remote-etc-wrap{
    display: flex;
}

/* ----- 리모컨 영역 ----- */
#remote-etc-wrap #remote-controller{
    flex-basis: 70px;
    flex-shrink: 0;
    padding-top: 50px;
    /* border: 1px solid #000; */

}
#remote-controller #inner-remote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: antiquewhite; */


}

/* ----- 기타 영역 ----- */
#remote-etc-wrap #etc-wrap{
    flex-grow: 1;
    padding-left: 15px;
}
/* h3 */
#remote-etc-wrap .h3-wrap{
    color: #787878;
    margin-top: 70px;
    padding-bottom: 10px;
    border-bottom: 2px solid #787878;

    display: flex;
    justify-content: start;
    align-items: center;
}
#remote-etc-wrap .h3-wrap h3{
    margin: 0;
    font-size: 1.3em;
}
#remote-etc-wrap .h3-wrap .modi-hotkey{
    margin-left: 10px;
    font-size: 1.4em;
    color: #999;
}
#remote-etc-wrap .h3-wrap .modi-hotkey:hover{
    transform: scale(1.2);
}

/* 해시태그 */
#hash-wrap #tag-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}
#tag-container .hash-span {
    border: 1px dotted #888;
    border-radius: 0.25rem;
    padding: 0.15em 0.5em;
    margin: 0 5px 5px 0;
    color: #555;
    cursor: pointer;
}
#tag-container .hash-span:hover{
    transform: scale(1.01);
    background-color: #ffca3d;
}
#tag-container .tag-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15em 0.3em;
    font-size: 1.3em;
    color: #787878;
}

#tag-container .tag-plus:hover{
    transform: scale(1.2);
}


/* 연관 포스트 */
#link-post-wrap #link-container {
    padding: 10px 0 0 0;
}

#link-container .link-a{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: stretch;

    border: 1px dotted #888;
    border-radius: 0.25rem;
    margin-top: 10px;
}
#link-container .link-a:hover{
    transform: scale(1.01);
    background-color: #ffca3d;
}
#link-container .link-ca{
    flex-basis: 80px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffca3d;
    font-weight: 700;
    color: #555;
}
#link-container .link-post-info{
    padding: 5px 10px;
    flex-grow: 1;
}
#link-container .link-title{
    font-family: 'NanumBarunGothicBold';
    color: #555;
}
#link-container .link-writer{
    font-size: 0.8em;
    color: #787878;
}

#link-container .link-post-date{
    flex-basis: 100px;
    flex-shrink: 0;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#link-container .link-percent{
    color: #000;
    font-weight: 700;
}
#link-container .link-date{
    font-size: 0.8em;
    color: #787878;
}