/* header section 초기화 */
section {
    width: 0;
    border: none;
    border-radius: none;
    margin: 0;
    padding: 0;
    box-sizing: none;
}

.title-2 {
    width: 500px;
    text-align: center;
    /* background: yellow; */
    margin: 20px auto 0;
}


.btn {
    cursor: pointer;
    width: 70px;
    border: 2px solid;
}

.add-btn {
    margin-top: 80px;
}

.register-btn {
    width: 200px;
}

.inquiryMainTable {
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.inquiryTable {
    width: 100%;
    margin: 0 auto 0;
    /* background: yellow; */
    display: flex;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding: 15px 0;
}

.inquiryTable .table1 {
    /* background: #000; */
    cursor: pointer;
}

.inner-inquiryTable {
    width: 500px;
    /* background: green; */
}

.table1 li {
    /* background: gray; */
    padding-left: 20px;
}

.table2 li {
    /* background: violet; */
    text-align: right;
    padding-right: 20px;
}

/* 미응답 li태그 */
.answer-register {
    cursor: pointer;
}

/* 미응답 모달 버튼 */
.btn-primary {
    width: 100px;
}

.inquiryMainTable li {
    margin-bottom: 5px;
}

/* ========== 문의 - 아이디 - 제목 - 내용 - 답변 ========== */
/* 문의/아이디 표시 li 태그 */
.inquiry-title {}

/* 제목 li 태그 */
.table1 .title {
    /* padding-left: 80px; */
}

/* 문의글 상세보기시 출력되는 태그 li */
.inquiry-content {
    margin-left: 80px;
    width: 850px;
    border: 1px solid;
    padding: 15px;

}


/* 문의글 상세보기시 제목 :  */
.detailTitle {
    margin-left: 90px;
}

/* 답변 상세보기시 출력되는 태그 li */
.answer {
    margin-left: 110px;
    border: 1px solid;
    width: 800px;
}

/* 답변 상세보기시 출력되는 답변: */
.answerDetailTitle {
    margin-left: 100px;
    margin-top: 20px;
}

/* 페이지 form */

.bottom-section {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
}

.bottom-section nav {
    flex: 9;
    /* 부모에게 display: flex; */
    display: flex;
    justify-content: center;
}

.pagination-custom a {
    color: #444 !important;
    /* !important */
}

/* 현재 보고 있는 페이지 음영처리 */
.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}

.page-item {
    margin-left: 5px;
}

/* 새로운글 표시  */
.newMark.inquirynewmark {
    display: flex;
}

.newMark.answernewmark {
    display: flex;
    justify-content: right;
}

/* 접기 버튼 */
.close-btn {
    margin-top: auto;
    border: 1px solid;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.hidden {
    display: none;
}