 /* header section 초기화 */
 section {
    width: 100%;
    border: none;
    border-radius: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    box-sizing: none;
}

.title-2 {
    width: 500px;
    text-align: center;
    /* background: yellow; */
    margin: 20px auto 0;
    font-size: 2em;
    /* border: 1px solid; */
    border-bottom: 1px solid;
}

.btn {
    cursor: pointer;
    border: 2px solid;
    background: rgba(23, 99, 137, 0.36);
    margin-bottom: 20px;
}

.add-btn {
    margin-top: 80px;
}

.register-btn {
    width: 150px;
    margin-left: 850px;
    margin-bottom: 15px;    
}

.inquiryMainTable {
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.inquiryTable {
    width: 100%;
    margin: 0 auto 0;
    /* background: #f8f3868c; */
    display: flex;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding: 15px 0;
}

.inquiryTable .table1 {
    /* background: #000; */
    cursor: pointer;
}

.inner-inquiryTable {
    width: 500px;
    /* background: green; */
}

.table1 li {
    /* background: gray; */
    padding-left: 20px;
}

/* 제목 li 태그 */
.table1 .title {
    padding-left: 80px;
}

.table2 li {
    /* background: violet; */
    text-align: right;
    padding-right: 20px;
}


.inquiryMainTable li {
    margin-bottom: 5px;
}

/* =========== 미응답 / 답변완료  =========== */
.answer-register{
    font-weight: 700;
    color: #dc3545;
}

li.detail {
    font-weight: 700;
    color: #0d6efd;
}


/* ========== 문의 - 아이디 - 제목 - 내용 - 답변 ========== */
/* 문의/아이디 표시 li 태그 */
.inquiry-title {}


/* 문의글 상세보기시 출력되는 태그 li */
.inquiry-content {
    margin-left: 100px;
    width: 850px;
    /* border: 1px solid; */
    border-radius: 10px 10px 10px 10px /10px 10px 10px 10px;
    padding: 15px;
    background: rgb(0 0 0 / 3%);

}

/* 문의글 상세보기시 제목 :  */
.detailTitle {
    margin-left: 90px;
}

/* 답변 상세보기시 출력되는 태그 li */
.answer {
    margin-left: 110px;
    /* border: 1px solid; */
    width: 820px;
    background: rgb(0 0 0 / 3%);
    border-radius: 10px 10px 10px 10px /10px 10px 10px 10px;
}

/* 답변 상세보기시 출력되는 답변: */
.answerDetailTitle {
    margin-left: 100px;
    margin-top: 20px;
}

/* 페이지 form */

.bottom-section {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
}

.bottom-section nav {
    flex: 9;
    /* 부모에게 display: flex; */
    display: flex;
    justify-content: center;
}

.pagination-custom a {
    color: #444 !important;
    /* !important */
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}

.page-item {
    margin-left: 5px;
}

/* 새로운 글 표시 */

.newMark.inquirynewmark {
    display: flex;
}

.newMark.answernewmark {
    display: flex;
    justify-content: right;
}

/* 접기 버튼 */
.close-btn {
    margin-top: auto;
    border: 1px solid;
    border-radius: 10%;
    width: 50px;
    text-align: center;
    cursor: pointer;
    background: #dee2e6;
}

.hidden{
    display: none;
}


/* 등록 모달 css */
.inquiry-register{
    margin-bottom: 5px;
    /* background: rgb(138 200 231 / 36%); */
}


