#wrap {
  /* background: rgb(78, 135, 182); */
  display: flex;
  width: 1000px;
  margin: 50px auto;
  font-family: 'NanumSquareRound';
  /*padding: 50px 0;*/
  /*background: #fffaee;*/
}
/* side Bar CSS */
#wrap #sideBar{
  width: 20%;
  background-color: #000;
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px;

}
#wrap #sideBar h2{
  color: #fffaee;
  font-size: 30px;
  font-weight: 600;

  padding: 10px 0;
  border-bottom: 2px solid #eeedeb;
  margin-bottom: 30px;
}
#wrap #sideBar h3{
  color: #fffaee;
  font-size: 30px;
  font-weight: 600;

  padding: 10px 0;
  border-bottom: 2px solid #eeedeb;
  margin: 30px 0;
}
#wrap #sideBar a{
  display: inline-block;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 5px;
  text-decoration: none;
  color: #fffaee !important; 
}
#wrap #sideBar a.mypage-section-checked{
  color: #ffca3d !important;
}
#wrap #sideBar a:hover{
  color: #ffca3d !important;
}


