.myPage-wrap {
    background: #fff;
}
.myPage-wrap .platform-wrap #selectSetting{
    background: #fffaee;
    display: flex;
    flex-wrap: wrap;
}

.myPage-wrap .platform-wrap #selectSetting #selList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    line-height: 2;
}

.myPage-wrap .platform-wrap #selectSetting #selList .platformNo{
    background: #cacaca;
    width: 10%;
}

.myPage-wrap .platform-wrap #selectSetting #selList .platformName{
    background: #fff;
    width: 30%;
}

.myPage-wrap .platform-wrap #selectSetting #selList .bgColor{
    width: 20%;
}

.myPage-wrap .platform-wrap #selectSetting #selList .fontColor{
    width: 20%;
}


.myPage-wrap .platform-wrap #selectSetting #selList .modiNdel{
    background: rgb(171, 116, 168);
    width: 20%;
}
