@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap {
    /* background: rgb(78, 135, 182); */
    display: flex;
    width: 1000px;
    margin: 50px auto;
    font-family: 'NanumSquareRound';
    /*padding: 50px 0;*/
}

#wrap #user-Info{
    background-color: #eeedeb;
    width: 80%;
    padding: 30px;
    border-radius: 10px;
}


/** img */
#wrap #user-Info .img{
    padding: 20px 25%;
}
#wrap #user-Info .img img{
    margin: 0 auto;
}




#wrap #user-Info .Info-comment{
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #000;

}
#wrap #user-Info .Info-comment .nickName-Info{
    font-size: 28px;
    font-weight: 700;
}
#wrap #user-Info .Info-comment .name{
    font-size: 45px;
    font-weight: 700;
}

/* total Page CSS */
#wrap #user-Info .userPage{
    background-color: #fffaee;
    padding: 10px;
    border-radius: 10px;
}

#wrap .comment{
    padding: 0 10px;
    /* background: rgb(52, 148, 108); */
    margin: 8px 0;
}


/** user id css*/
#wrap .id{
    margin-bottom: 20px;
}


/* nickName CSS  */
#wrap #user-Info .nickName{
    margin-bottom: 20px;
}
/* 닉네임 BtnCss */
#nickmodify-btn ,#modify-btn ,#main-btn ,#joinOut-btn{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 0px;
    padding: 5px 10px;
    color: #ffca3d;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/* hover */
#nickmodify-btn:hover{
    background-color: #ffca3d;
    transition: 1s;
    color: #000;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
#modify-btn:hover{
    background-color: #ffca3d;
    transition: 1s;
    color: #000;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
#joinOut-btn:hover{
    background-color: #ffca3d;
    transition: 1s;
    color: #000;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
#main-btn:hover{
    background-color: #ffca3d;
    transition: 1s;
    color: #000;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}


#wrap .nickName .comment span{
    margin-right: 20px;
}

/* Email CSS */
#wrap #user-Info .Email{
    margin-bottom: 20px;
}

#wrap #user-Info .Date{
    margin-bottom: 20px;
}
#wrap #user-Info #info-Btn{
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
}
#wrap .thanksTo{
    padding: 20px;
    margin-top: 50px;
}



