/*---------- 공통 ----------*/
h2,
h3 {
    font-family: 'NanumBarunGothicBold';
}

/* 토글 */
.toggle-box {
    padding: 0.2em 0.6em;
    color: #787878;
    font-size: 1.2em;
    border-radius: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-box i {
    margin: 0 5px;
}

.fa-toggle-off,
.fa-toggle-on {
    font-size: 1.3em;
    cursor: pointer;
}

.fa-toggle-off:hover,
.fa-toggle-on:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.fff {
    color: #fff;
    transition: 0.3s;
}


/*----------이미지, 포스트 정보 영역----------*/
section #img-post-wrap {
    border-radius: 0.25rem;
    display: flex;
    margin-top: 20px;
}


/* 이미지 모달 */
/* 모달 배경 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}


/* 모달 이미지 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.6s;
}

@keyframes zoom {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

/* 모달 닫기 버튼 */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* ----- 이미지 영역 ----- */
#img-post-wrap #img-wrap {
    /* background-color: #ffca3d; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 295px;
    flex-shrink: 0;
}

.post-img {
    height: inherit;
    border-radius: 0.5em;
}


/* 썸네일 이미지 */
#img-wrap #thumb-img {
    background-color: #ffca3d;
    border: 1px solid #ffca3d;
    border-radius: 0.5em;
    padding: 5px;
    box-sizing: border-box;
    width: 210px;
    height: 292px;
    overflow: hidden;
    cursor: pointer;

    order: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* 첨부 이미지 */
#img-wrap .img-box-wrap {
    display: flex;
    flex-flow: column nowrap;
    max-height: 292px;
    overflow: hidden;
}


/* 첨부 - 일반 */
.img-box {
    width: 60px;
    height: 69px;
    overflow: hidden;

    background-color: #ffca3d;
    border: 2px solid #ffca3d;
    border-radius: 0.5em;
    margin: 3px 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----- 포스트 정보 영역 ----- */
#img-post-wrap #post-box {
    padding-left: 10px;
    box-sizing: border-box;
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    justify-content: start;
}

/* #post-top : 별점, 제목, 작가, 장르 */
#post-top {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
}

/* 별점 */
.star-rate {
    font-size: 1.3em;
}

/* 책 제목 */
#post-title {
    font-weight: 700;
    margin-top: 0.5rem;
    color: #555;
}

/* 작가 */
#post-writer {
    color: #787878;
    font-weight: 700;
}


/* #post-middle : 장르, 플랫폼, 연재 상태, 연재 일시, 페이지 정보*/
#post-box #post-middle {
    margin-top: 1.5em;
    padding: 0 50px;
    color: #787878;
    text-align: center;

    display: flex;
    flex-direction: column;

}

/* 플랫폼, 연재 정보 */
.m-tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-tr.tr-down {
    margin-bottom: 0.5em;
}

.l-td {
    flex: 1 1 0;
    text-align: right;
    padding-right: 0.5em;
    border-right: 2px solid #787878;
}

.r-td {
    flex: 1 1 0;
    text-align: left;
    padding-left: 0.5em;
}

.m-tr.colspan-2 {
    flex: 1 0 0;
}

.l-td.plat-span {
    border-right: none;
    padding-right: 1px;
}

.r-td.genre-span {
    padding-left: 1px;
}

.plat-span span {
    background: pink;
    border-radius: 50em 5em 5em 50em;
    font-weight: 700;
    padding: 0.3em 0.5em 0.2em 1em;
}

.genre-span span {
    background-color: #e9ecef;
    border-radius: 5em 50em 50em 5em;
    font-weight: 700;
    padding: 0.3em 1em 0.2em 0.5em;
}


/* #post-bottom : 날짜, 버튼*/
#post-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 10px;
}

#post-bottom .date-wrap {
    margin-top: 3px;
    margin-left: 85px;
    font-size: 0.8em;
}

#post-bottom .post-btn {
    font-size: 1.5em;
    color: #555;
}

#post-box #post-bottom .post-btn:hover {
    transform: scale(1.2);
}



/* ---------- 리모컨, 기타 영역 ----------  */
section #remote-etc-wrap {
    display: flex;
}

/* ----- 리모컨 영역 ----- */
#remote-etc-wrap #remote-controller {
    flex-basis: 70px;
    flex-shrink: 0;
    padding-top: 50px;
    /* border: 1px solid #000; */

    position: fixed;
    right: 70px;
    bottom: 70px;

    width: 150px;
}

#remote-controller #inner-remote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    /* background-color: antiquewhite; */
    border: 1.5px solid #adb5bd;
    border-radius: 0.3rem;
    text-align: center;
    background: #f8f9fa;
}

/* 리모컨 타이틀 */
.remote-title {
    margin-top: 5px;
    border-bottom: 1.5px solid #adb5bd;
    font-weight: 600;
    cursor: move;
}

#go-to-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

/* 리모컨 옵션박스 */
#select-remote-option {
    padding: 5px;
    margin: 10px;
}

/* 리모컨 이동 버튼 */
#move-scroll-btn {
    margin: 0 50px 10px;
    padding: 5px;
    background: #ffca3d;
    border-radius: 0.25rem;
}

#move-scroll-btn:hover {
    background: #f9b708;
}

/* 리모컨 위, 아래, 목록 버튼 */
#go-down-list {
    display: flex;
    justify-content: center;
    border-top: 1.5px solid #adb5bd;
    font-size: 0.8em;
    padding: 5px 0;
}

#go-down-list a {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin-right: 12px;
}

#go-down-list a.go-top {
    margin-left: 12px;
}

#go-down-list i {
    font-size: 1.7em;
}

/* ----- 기타 영역 ----- */
#remote-etc-wrap #etc-wrap {
    flex-grow: 1;
    padding-left: 15px;
}

/* h3 */
.h3-wrap {
    color: #787878;
    margin-top: 70px;
    padding-bottom: 10px;
    border-bottom: 2px solid #787878;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-wrap h3 {
    margin: 0;
    font-size: 1.3em;
}


/* 해시태그 */
#hash-wrap #tag-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

#tag-container .hash-span {
    border: 1px dotted #888;
    border-radius: 0.25rem;
    padding: 0.15em 0.5em;
    margin: 0 5px 5px 0;
    color: #555;
    /* cursor: pointer; */
    /* cursor : url(../img/cursor.cur) 20 30, url(../img/cursor.cur) 20 30, auto; */
}

#tag-container .hash-span:hover {
    transform: scale(1.01);
    background-color: #ffca3d;
}

#tag-container .tag-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15em 0.3em;
    font-size: 1.3em;
    color: #787878;
}

#tag-container .tag-plus:hover {
    transform: scale(1.2);
}

#hash-wrap .inputHashtag #InfoText {
    width: 100%;
}

#hash-wrap .inputHashtag #tagInputAndBtn {
    display: flex;
}

#hash-wrap .inputHashtag #hashtagInputBtn {
    margin-left: 20px;
    background-color: #ffca3d;
    border-radius: 10px;
    padding: 0 10px;

}

#hash-wrap .inputHashtag #hashtagInput {

    background: #eeedeb;
    border-radius: 0.35em;
    font-size: 1.2em;
    /* width: 100%; */
    /* height: 40px; */
    /* margin-bottom: 1em; */
    padding-left: 1em;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}



/* 연관포스트 검색창 */
#link-post-wrap .search-wrap {
    display: flex;
}

.link-remove-btn {
    font-size: 1.5em;
}

.link-remove-btn:hover {
    color: #B22222;
    transform: scale(1.2);
    transition: 0.3s;
}

/* 연관 포스트 */
/* 포스트 검색창 ( + 연관 포스트가 없을 때)*/
#link-container .link-zero-box {
    display: flex;
    flex-flow: column;
    text-align: center;

    margin: 30px 0;
    padding: 0 50px 30px;
    border-bottom: 1px dashed #787878;
}

.search-msg {
    background-color: #f9b908c7;
    border-radius: 0.5rem;
    padding: 10px 0 5px;
    font-size: 1.1em;
    font-weight: 700;
    opacity: 85%;
}

.search-wrap {
    display: flex;
    padding: 0;
    justify-content: center;

    padding: 10px 0;
}

.search-wrap .form-select {
    width: 20%;
}

.search-wrap #postSearchList {
    flex-flow: 1;
}

.search-wrap .link-reg-btn {
    width: 13%;
    margin-left: 10px;
}


/* 연관 포스트 목록 있을 때 */
#link-post-wrap #link-container {
    padding: 10px 0 0 0;
}

#link-container .link-a {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: stretch;

    border: 1px dotted #888;
    border-radius: 0.25rem;
    margin-top: 10px;
}

#link-container .link-a:hover {
    transform: scale(1.01);
    background-color: #ffca3d;
}

#link-container .link-percent {
    flex-basis: 80px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffca3d;
    font-weight: 700;
    color: #555;
}

#link-container .link-post-info {
    padding: 5px 10px;
    flex-grow: 1;
}

#link-container .link-title {
    font-family: 'NanumBarunGothicBold';
    color: #555;
}

#link-container .link-writer {
    font-size: 0.8em;
    color: #787878;
}

#link-container .link-post-date {
    flex-basis: 100px;
    flex-shrink: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#link-container .link-percent {
    color: #000;
    font-weight: 700;
}

#link-container .link-date {
    font-size: 0.8em;
    color: #787878;
}