@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&family=Poppins&display=swap');

/*================================================
    태그별 css 설정
==================================================*/
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
    /* letter-spacing: 0.3em; */
    line-height: 1.5em;

    overflow-x: hidden;
}

textarea {
    resize: none;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

/*================================================
    공통 css 설정
==================================================*/
.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w100 {
    width: 100%;
}

.selected {
    background-color: rgb(255, 202, 61);
}

.datetime {
    flex: 3;
}

.button-area {
    text-align: right;
    display: inline-block;
    margin-right: 0.3em;

    flex: 1;
}

.button-hidden {
    display: none;
}

.button {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-area {
   padding: 0px 0.3em;
}

/*================================================
    postnote 공통 css 설정
==================================================*/
#postnote {
    width: 60%;
    min-width: 500px;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 5px;
}
#postnote div {
    width: 100%;
}
#postnote div.half {
    width: 50%;
}

/*================================================
    postnote->title-wrapper / 탭 버튼 영역
==================================================*/
#postnote .title-wrapper {
    text-align: center;
    border: solid 1px;
    transition: 0.5s;
    cursor: pointer;
}
/* 상단 고정하려면, 전체적인 디자인 틀어짐, 일단 보류.
#postnote .title-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4vh;
    width: 60%;
} */
#postnote .title-wrapper>div {
    padding: 5px 0px;
}
#postnote .title-wrapper>div:hover {
    background-color: rgb(255, 232, 159);
    font-weight: bold;
}
#postnote .title-wrapper .selected {
    transition: 0.5s;
    font-weight: bold;
}

/*================================================
    postnote->submit-wrapper / 데이터 입력 영역
==================================================*/
#postnote .submit-wrapper {
    text-align: left;
    border: solid 1px;
}

/* episode-no 입력 부분 */
#postnote .submit-wrapper .episode-no {
    margin: 0.5em 0.5em 0.1em;
}
#postnote .submit-wrapper .episode-no input {
    width: 60%;
    text-align: center;
}

#postnote .submit-wrapper .submit-area {
    justify-content: left;
    margin-bottom: 0.5em;
}
#postnote .submit-wrapper .submit-area .info {
    width: 80%;
    padding-left: 0.3em;
}
#postnote .submit-wrapper .submit-area .button {
    width: 20%;
    text-align: right;
    padding-right: 0.3em;
}

/*================================================
    postnote->accodian-wrapper / 아코디언 영역
==================================================*/
#postnote .accodian-wrapper {
    text-align: center;
    border: solid 1px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 202, 61);
}
#postnote .accodian-wrapper {
    padding: 5px 0px;
}

/*================================================
    postnote->content-wrapper / 데이터 목록 영역
==================================================*/
#postnote .content-wrapper {
    text-align: left;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.8em;

    max-height: 50vh;
    overflow-y: auto;
}

/* 데이터 출력단 설정 */
#postnote .content-wrapper .content-area{
    text-align: left;
    padding: 0px 10px;
}
#postnote .content-wrapper .content-area:not(:last-of-type){
    margin-bottom: 30px;
}
#postnote .content-wrapper .content-area:last-child{
    margin-bottom: 10px;
}

/* 회차구분 icon 설정 */
#postnote .content-wrapper div[name='mark'] .content-area i.noselect {
    border: 1px solid rgba(0,0,0,0.21);
    border-radius: 10px;
    min-width: 70px;
    padding: 0.1em 0.3em 0.2em 0.3em;
    margin-left: 0.1em;
    display: inline-block;
	text-decoration: none;
	border-bottom: 3px solid rgba(0,0,0,0.21);
    cursor: default;
}
#postnote .content-wrapper .content-area i.marking-type1::before {
    content: 'ep.';
}
#postnote .content-wrapper .content-area i.marking-type2::before {
    content: 'page.';
}
#postnote .content-wrapper .content-area i.marking-type3::before {
    content: 'chap.';
}
#postnote .content-wrapper .content-area i.marking-type1 {
    color: white;
    background-color: red;
}
#postnote .content-wrapper .content-area i.marking-type2 {
    color: white;
    background-color: blue;
}
#postnote .content-wrapper .content-area i.marking-type3 {
    color: white;
    background-color: green;
}

/* 아이콘 버튼 설정 */
.button-area i.fas:hover {
    transform: scale(1.2);
}

/* 수정, 삭제 버튼 설정 */
.button-area .fa-edit {
    margin-right: 0.6em;
}

/* 수정저장, 취소 버튼 설정 */
.button-area .fa-check-square,
.button-area .fa-times {
    font-size: 1.1em;
}
.button-area .fa-check-square {
    margin-right: 0.8em;
}

/* 북마크 / 메모 content 설정 */
#postnote .content-wrapper .content{
    padding: 0.3em 0.5em;
    word-break: break-all;
    /* border: 1px solid; */
    border-radius: 5px;
    width: 100%;
}

/* content 상하 여백 조절 */
/*#postnote .content-list>div>div:nth-child(n+2) {*/
#postnote .content-wrapper>div>div {
    margin-top: 0.5em;
}
#postnote .content-wrapper>div>div>div:nth-child(2) {
    margin-top: 0.2em;
}