/* 새 글 등록 영역 */
#reg-sec .inner-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-post .reg-btn{
    border: 1px dotted #555;
    border-radius: 0 1rem 0 1rem ;
    padding: 50px 30px;
    background-color: #e9ecef;
    color: #555;
    cursor: pointer;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.new-post .reg-btn:hover{
    background-color: #ffe08c;
    transform: scale(1.05);
    transition: 0.2s;
}
.new-post .reg-btn>span{
    margin-bottom: 10px;
}

/* 입력 메뉴 */
.reg-menu{
     display: none;
}
.reg-menu.on{
    display: block;
}


/* 하버 효과 */
.hover:hover{
    border: 1px solid #444;
    transform: scale(1.05);
    /* transition: 0.1s; */
    cursor: pointer;
}

/* 포스트 리스트 영역 */
section#list-sec{
    width: 70%;
    margin-top: 10px;
    border: none;
}

#list-sec .inner-section{
    display: flex;
    flex-flow: column;
}

/* 포스트 목록 필터링 제목  */
.section-h2{
    border: 1px solid #adb5bd;
    background-color: #ffc699;
    border-radius: 0.25rem;
    margin-top: 30px;
    /* padding: 20px 0; */

    font-family: 'NanumBarunGothicBold';

    display: flex;
    justify-content: center;
    align-items: center;
}
.section-h2 h2{
    margin: 15px 0 10px;
    line-height: 1.5;
}
.section-h2 .h2-search{
    font-size: 1.3em;
}
.section-h2 .h2-icon{
    margin-left: 10px;
    font-size: 1.2em;
    padding-top: 5px;
    cursor: pointer;
}
.list-reset i:hover{
    animation: rotate 1.5s ease 0.1s 5;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
    
}



/* ------------------------------------- */
/* ---------개별 포스트 박스 영역 ---------*/
/* ------------------------------------- */
.item-wrap{
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    padding: 25px 15px;
    margin-top: 5px;

    display: flex;
    justify-content: start;
}
.item-wrap:last-child{
    margin-bottom: 30px;
}
.item-wrap:hover{
    background-color: #ffc69987;
}

.item-wrap .item-left{
    flex: 0 1 20%;
    border-radius: 0.25rem;
    margin-right: 15px;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.item-wrap .item-right{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* ---------- left : 표지, 즐겨찾기 ---------- */
/* 표지 */
.item-left .thumb-box{
    border-radius: 0.25rem;
    border: 1px solid #ffc69987;
    background-color: #ffc69987;
    height: 165px;
    overflow: hidden;
    flex: 0 1 165px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item-left .thumb-box .post-img{
    height: inherit;
    border-radius: 0.25rem;
}
/* 즐겨찾기 버튼 */
.item-left .favorite-btn{
    border: 1px dashed #555;
    border-radius: 50em;
    background-color: #777;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    font-size: 0.8em;
}
.item-left .favorite-btn:hover{
    background-color: #ffca3d;
    color: #000;
    font-weight: 700;
    transition: 0.2s;
}


/* ---------- right : 상세정보 ---------- */
/* right-1 : 장르, 플랫폼, 연재 정보  */
.item-right .right-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* 장르 */
.genre-name{
    border: 1px dotted #555;
    border-radius: 50em;
    padding: 0.25em 1em 0.15em;
    text-align: center;
    display: inline-block;
}
.genre-name:hover{
    background-color: #ffca3d;
    border: 1px solid #444;
    transform: scale(1.07);
    transition: 0.15s;
    cursor: pointer;
}

/* 플랫폼, 연재 정보 */
.pl-pu-wrap{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.plat-name{
    background-color: #ffca3d;
    border-radius: 50em 0em 0em 50em;
    font-weight: 700;
    padding: 0.3em 0.5em 0.2em 1em;
    text-align: center;
    display: inline-block;
}
.pu-cycle{
    background-color: #e9ecef;
    border-radius: 0em 50em 50em 00em;
    font-weight: 700;
    padding: 0.3em 1em 0.2em 0.5em;
}

.plat-name:hover,
.pu-cycle:hover{
    transform: scale(1.03);
    transition: 0.2s;
    border: 1px dashed #555;
}

/* right-2-1 : 제목, 작가, 별점 / right 2-2 : 진행도  */
.item-right .right-2{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 0.9em;
}
.right-2 .right2-1{
    margin: 10px 0;
}
.right-2 .right2-2{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/* 제목 */
.post-title h3{
    color: #444;
    font-family: 'NanumBarunGothicBold';
    margin: 10px 0;
    font-size: 1.45em;
    word-break: break-all;
}
.post-title:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
/* 작가 */
.post-writer{
    font-weight: 700;
    color: #555;
    display: inline-block;
}
.post-writer:hover{
    transform: scale(1.2);
    transition: 0.25s;
}
/* 별점 */
.star-rate{
    font-size: 1.15em;
    text-shadow: 2px 2px 2px #555;
    display:inline-block;
}
.star-rate:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

/* 진행도(퍼센티지) */
.read-percent{
    text-align: center;
    color: #ffca3d;
    text-shadow: -1px 0 #555, 0 1px #555, 2px 0 #555, 0 -1px #555;
    font-size: 1.7em;
    font-family: 'NanumBarunGothicBold';
}

/* 해시태그 */
.tag-one-line{
    color: #555;
}

