/*================================================
    폰트 설정
==================================================*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*================================================
    태그별 css 설정
==================================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
}

button,
input {
    background-color: inherit;
    border: none;
}

ul{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #fff;
}

textarea {
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
    cursor: default;
}

/*================================================
    공통 css 설정
==================================================*/
.hidden {
    display: none;
}

.selected {
    background-color: rgb(255, 202, 61);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w100 {width: 100%;}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datetime {
    flex: 3;
}

.button-area {
    text-align: right;
    display: inline-block;
    margin-right: 1.5em;

    flex: 1;
}

.button-hidden {
    display: none;
}

.button {
    cursor: pointer;
}

/*================================================
    postnote 공통 css 설정
==================================================*/
#postnote {
    box-sizing: border-box;
    background: #fff;
    /* width: 1000px; */
    width: 100%;
    /* min-width: 500px; */
    /* border: 1px solid #adb5bd; */
    border-radius: 0.25rem;

    font-family: 'NanumSquareRound', sans-serif;
    font-size: 20px;
    color: #000;

    /* padding: 0.5em; */
    margin: 50px auto 0;
}
#postnote div {
    width: 100%;
}
#postnote div.half {
    width: 50%;
}

/*================================================
    postnote->title-wrapper / 탭 버튼 영역
==================================================*/
#postnote .title-wrapper {
    text-align: center;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;

    transition: 0.5s;
    cursor: pointer;
}
/* 상단 고정하려면, 전체적인 디자인 틀어짐, 일단 보류.
#postnote .title-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4vh;
    width: 60%;
} */
#postnote .title-wrapper div[name="mark"] {
    border-top-left-radius: 0.4rem;
}
#postnote .title-wrapper div[name="memo"] {
    border-top-right-radius: 0.4rem;
}
#postnote .title-wrapper>div {
    padding: 5px 0px;
}
#postnote .title-wrapper>div:hover {
    background-color: #ffe89f;
    font-weight: bold;
}
#postnote .title-wrapper .selected {
    transition: 0.5s;
    font-weight: bold;
}

/*================================================
    postnote->submit-wrapper / 데이터 입력 영역
==================================================*/
#postnote .submit-wrapper {
    text-align: left;
    border: 1px solid #ced4da;
    border-top: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /* background: #fefbf1; */
    background: #fcfaf5;

    padding: 20px 25px;
}

/* episode-no 입력 부분 */
#postnote .submit-wrapper .episode-no {
    margin: 0.5em;
    font-weight: 600;
}
#postnote .submit-wrapper .episode-no input {
    width: 60%;
    text-align: center;

    /* border: 1px solid #6c757d; */
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;

    margin-left: 0.3rem;
    padding: 0.1rem;
}
#episode-no::placeholder {
    font-size: 0.85em;
}
/* #postnote .submit-wrapper .episode-no input:hover {
    outline: 1px solid #495057;;
    border: none;
} */

/* Mark / Memo 내용 입력 부분 */
#postnote .submit-wrapper .text-area textarea {
    padding: 1rem;
    font-size: 17px;

    /* border: 1px solid #6c757d; */
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;

    resize: both;
}
/* #postnote .submit-wrapper .text-area textarea:hover {
    outline: 1px solid #495057;;
    border: none;
} */

/* 글자 수 표시, 등록버튼 부분 */
#postnote .submit-wrapper .submit-area {
    display: flex;
}
#postnote .submit-wrapper .submit-area .info {
    margin-top: 0.5rem;
    margin-left: 0.3em;
}
#postnote .submit-wrapper .submit-area .button {
    text-align: right;
    margin-right: 0.3em;
}
#postnote .submit-wrapper .submit-area .button button {
    background: #ffca3d;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.4rem 0.8rem;

    font-weight: 600;
}

/*================================================
    postnote->accodian-wrapper / 아코디언 영역
==================================================*/
#postnote .accodian-wrapper {
    /* border: 1px solid #ced4da; */
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 202, 61);
}
#postnote .accodian-wrapper {
    padding: 6px 0px;
}

/*================================================
    postnote->content-wrapper / 데이터 목록 영역
==================================================*/
#postnote .content-wrapper {
    /* border: 1px solid #adb5bd; */
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /* background: #fefbf1; */
    background: #fcfaf5;

    padding: 1em 0.7em 0.7em;

    font-size: 0.8em;
    text-align: left;

    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 스크롤바 디자인 */
.scroll-bar::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}
.scroll-bar::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #ffca3d; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
.scroll-bar::-webkit-scrollbar-track {
    background: #ffe6a2;  /*스크롤바 뒷 배경 색상*/
}

/* 데이터 출력단 설정 */
#postnote .content-wrapper .content-area{
    text-align: left;
    padding: 0px 20px;
}
#postnote .content-wrapper .content-area .flex-sb {
    margin-bottom: 0.3em;
}
#postnote .content-wrapper .content-area:not(:last-of-type){
    margin-bottom: 30px;
}
#postnote .content-wrapper .content-area:last-child{
    margin-bottom: 10px;
}

/* 회차구분 icon 설정 */
#postnote .content-wrapper div[name='mark'] .content-area i.noselect {
    /* border: 1px solid rgba(0,0,0,0.21); */
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

    min-width: 50px;
    padding: 0.4rem 0.6rem;
    margin: 0 0.6em 0.4em 0.4em;

    display: inline-block;
	text-decoration: none;
    cursor: default;

    font-size: 15px;
}
#postnote .content-wrapper div[name='mark'] .content-area span.mark-date {
    margin-left: 0.5em;
    font-weight: 600;
}
#postnote .content-wrapper div[name='memo'] .content-area span.memo-date {
    margin-left: 0.5em;
    font-weight: 600;
}

#postnote .content-wrapper .content-area i.marking.type1::after {
    content: '화';
    margin-left: 0.15rem;
}
#postnote .content-wrapper .content-area i.marking.type2::before {
    content: 'p';
    margin-right: 0.15rem;
}
#postnote .content-wrapper .content-area i.marking.type3::after {
    content: '권';
    margin-left: 0.15rem;
}
#postnote .content-wrapper .content-area i.marking.type4::after {
    content: '%';
    margin-left: 0.15rem;
}
#postnote .content-wrapper .content-area i.marking {
    color: #fff;
    background-color: #22577E;
}
/* #postnote .content-wrapper .content-area i.marking.type1 {
    color: white;
    background-color: rgb(191, 142, 142);
}
#postnote .content-wrapper .content-area i.marking.type2 {
    color: white;
    background-color: blue;
}
#postnote .content-wrapper .content-area i.marking.type3 {
    color: white;
    background-color: green;
}
#postnote .content-wrapper .content-area i.marking.type4 {
    color: white;
    background-color: rgb(90, 187, 90);
} */

/* 아이콘 버튼 설정 */
.button-area i.fas {
    font-size: 1.3em;
    color: #343a40;
}
.button-area i.fas:hover {
    transform: scale(1.2);
}

/* 수정 버튼 설정 */
.button-area .fa-edit {
    margin-right: 1em;
}

/* 수정저장 버튼 설정 */
.button-area .fa-check-square {
    margin-right: 1.5em;
}

/* 북마크 / 메모 content 설정 */
#postnote .content-wrapper .content{
    padding: 0.8em;
    word-break: break-all;
    font-size: 17px;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.08) 1.95px 1.95px 2.6px;

    width: 100%;
}

/* content 상하 여백 조절 */
/*#postnote .content-list>div>div:nth-child(n+2) {*/
#postnote .content-wrapper>div>div {
    margin-top: 0.5em;
}
#postnote .content-wrapper>div>div>div:nth-child(2) {
    margin-top: 0.2em;
}

/* 마크, 메모가 없을 때 표시 */
#postnote .content-wrapper div div.blank {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

