section.post-reg-section{
    border: none;
    padding: 100px 50px;
    /* margin-top: 0; */
    /* background-color: black; */
}

section .inner-section{
    /*width: 70%;*/
    margin: 0 auto;
    background-color: #eeedeb;
    border-radius: 1em;
    padding: 80px;
    /* box-sizing: border-box; */
}
.top-msg{
    text-align: right;
    padding-right: 50px;
}

/* 공통 */
/* 파일 인풋창 */
.file-input{
    display: none;
}
.file-box{
    background: #fff;
    border-radius: 0.35em;
    width: 100%;
    overflow: auto;
    cursor: pointer;

    display: flex;
    flex-flow: row wrap;
    align-items: center;

    box-shadow: 1px 1px 1px #888;
}
.file-box:hover{
    box-shadow: -1px -1px #888 ;
}
.file-box .file-box-left{
    background-color: #ffca3d;
    padding: 0.35em 0.5em;
    flex: 1 1 90px;
    text-align: center;
}
.file-box .file-box-right{
    font-size: 0.8em;
    margin-left: 0.5em;
    padding: 0.2em;
    word-break: keep-all;
    flex: 100 1;
    color: #777;
}

.reg-span{
    font-weight: 700;
    margin-bottom: 0.5em;
}
.white-box{
    background: #fff;
    border-radius: 0.35em;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    margin-bottom: 1em;
    padding-left: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

}
.white-box.icon-box{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.white-box.icon-box:hover{
    background-color: #ffca3d;
    box-shadow: none;
}

.span-wrap{
    display: flex;
    justify-content: space-between;
    
}
.explain-span{
    font-size: 0.8em;
    color: #555;
    margin-right: 15px;
}

/* #reg-1 : 이미지, 제목, 작가 */
#reg-1 {
    display: flex;
}
/* 이미지 */
#reg-1 .img-wrap{
    flex-basis: 219px;
    flex-shrink: 0;
    
    position: relative;

    /* background-color: pink; */
}
#reg-1 .img-box{
    width: 210px;
    height: 290px;
    overflow: hidden;

    background-color: #ffca3d;
    border-radius: 0.5em;
    border: 1px solid #787878 ;
    
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    text-align: center;
    word-break: keep-all;

    position: absolute;
    top: -80px;
    left: -40px;
}
.img-box .post-img{
    height: inherit;
}

.img-box .box-msg{
    border: 1px dashed #787878 ;
    border-radius: 0.5em;
    height: 265px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 파일 인풋창 */
.img-wrap .file-box{
    position: absolute;
    top: 232px;
    left: -80px;
    width: 275px;
    text-align: center;
}

/* 제목, 작가 */
#reg-1 .tw-wrap{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

/* #reg-2 플랫폼, 장르 */
#reg-2 {
    padding-left: 70px;
    margin-top: 50px;
}

.select-add-wrap{
    display: flex;
}
.select-add-wrap .divided-select{
    flex: 1 1 46%;
}
.select-add-wrap .divided-input{
    flex: 1 1 46%;
    font-size: 0.8em;
    margin-left: 10px;
}
.select-add-wrap .divided-btn{
    flex: 1 1 8%;
}
.divided-btn .icon-box{
    /* border: 1px dotted #787878; */
    box-shadow: 1px 1px 1px #787878;
}


/* #reg-3 연재 상태, 연재 요일 */
#reg-3 {
    padding: 0 80px 0 70px;
    margin-top: 50px;
}


/* #reg-4 회차 구분, 현재 회차, 현재 페이지 */
#reg-4 {
    padding: 0 70px;
    margin-top: 70px;
    text-align: center;
}
#reg-4 .span-wrap{
    display: flex;
    justify-content: space-between;
}
#reg-4 input{
    text-align: center;
    padding-left: 0;
}

.radio-wrap .white-box{
    padding: 0;
}
.radio-wrap{
    display: flex;
}
.radio-item{
    margin-right: 10px;
    font-size: 1em;
    font-weight: 700;
}
.radio-item:hover{
    background-color: #ffda73;
}

.radio-item.checked {
    background-color: #ffca3d;
}

#reg-4 .ep-wrap{
    display: flex;
    justify-content: space-between;
}
#reg-4 .ep-input-wrap{
    margin-right: 10px;
}
.ep-radio{
    /* display: none; */
}

/* #reg-5 해시태그 */
#reg-5 {
    margin-top: 50px;
}

/* #reg-6 이미지 첨부 */
#reg-6 {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}
.uploaded-list{
    margin-top: 10px;

    display: flex;
    flex-flow: row wrap;
}
.upload-img-box{
    height: 100px;
    margin: 5px;
    overflow: hidden;
}
.upload-img-box .upload-img{
    height: 100%;
}



/* 등록 버튼 */
#reg-btn{
    display: flex;
    justify-content: center;
}
#reg-btn .white-box{
    margin-top: 30px;
    width: 20%;
    padding: 1.2em 0 1.2em 0;
    font-size: 1.2em;
    font-family: 'NanumBarunGothicBold';
    background-color: #ffca3d;
    border: 1px dotted #787878;
    box-shadow: 1px 1px 1px #787878;

}





#reg-btn {
    /* background: rgb(202, 74, 74); */
}
