<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibini.my_books.post.repository.PostMapper">

    <resultMap id="postMap" type="com.ibini.my_books.post.domain.Post">
        <result property="postNo" column="post_no"/>
        <result property="genreId" column="genre_id"/>
        <result property="caId" column="ca_id"/>
        <result property="platformId" column="platform_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postWriter" column="post_writer"/>
        <result property="publishStatus" column="publish_status"/>
        <result property="publishCycle" column="publish_cycle"/>
        <result property="epId" column="ep_id"/>
        <result property="curEp" column="cur_ep"/>
        <result property="totalEp" column="total_ep"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="starRate" column="star_rate"/>
    </resultMap>

    <resultMap id="postWithNameMap" type="com.ibini.my_books.post.dto.PostWithName">
        <result property="postNo" column="post_no"/>
        <result property="genreId" column="genre_id"/>
        <result property="caId" column="ca_id"/>
        <result property="platformId" column="platform_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postWriter" column="post_writer"/>
        <result property="publishStatus" column="publish_status"/>
        <result property="publishCycle" column="publish_cycle"/>
        <result property="epId" column="ep_id"/>
        <result property="curEp" column="cur_ep"/>
        <result property="totalEp" column="total_ep"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="starRate" column="star_rate"/>

        <result property="genreName" column="genre_name"/>

        <result property="platformName" column="platform_name"/>
        <result property="platformBgColor" column="platform_bg_color"/>
        <result property="platformFontColor" column="platform_font_color"/>

        <result property="fileName" column="file_name"/>
    </resultMap>

    <insert id="save">
        insert into tbl_post
        (
            post_no,
            account,    genre_id,    ca_id,    platform_id,
            post_title,    post_writer,    publish_status,
            publish_cycle,    ep_id,    cur_ep,    total_ep,
            star_rate
        )
        VALUES
        (
            seq_tbl_post.nextval,
            #{account},    #{genreId},    #{caId},    #{platformId},
            #{postTitle},    #{postWriter},    #{publishStatus},
            #{publishCycle},   #{epId},    #{curEp},    #{totalEp},
            #{starRate}
        )
    </insert>

    <select id="findAllPost" resultMap="postMap">
        SELECT
            post_no,    account,    genre_id,    ca_id,    platform_id,
            post_title,    post_writer,    publish_status,    publish_cycle,
            ep_id,    cur_ep,    total_ep,    reg_date,    update_date,    star_rate
        FROM tbl_post
    </select>

    <select id="findAllPostWithName" resultMap="postWithNameMap">
        SELECT
            p.post_no,    p.account,    p.genre_id,     g.genre_name,
            p.ca_id,    p.platform_id,  pf.platform_name, pf.platform_bg_color, pf.platform_font_color,
            p.post_title,    p.post_writer,    p.publish_status,    p.publish_cycle,
            p.ep_id,    p.cur_ep,    p.total_ep,    p.reg_date,    p.update_date,    p.star_rate
            ,pi.file_name
        FROM tbl_post p

        LEFT OUTER JOIN prj_genre g
            ON p.genre_id = g.genre_id

        LEFT OUTER JOIN prj_platform pf
            ON p.platform_id = pf.platform_id

        LEFT OUTER JOIN prj_post_img pi
            ON p.post_no= pi.post_no
            where pi.thumbnail = 'true'
                or pi.thumbnail is null
    </select>


    <select id="findOnePost" resultMap="postMap">
        SELECT
            post_no,    account,    genre_id,    ca_id,    platform_id,
            post_title,    post_writer,    publish_status,    publish_cycle,
            ep_id,    cur_ep,    total_ep,    reg_date,    update_date,    star_rate
        FROM tbl_post
        WHERE post_no = #{postNo}
    </select>

    <select id="fineOnePostWithName" resultMap="postWithNameMap">
        SELECT
            p.post_no,    p.account,    p.genre_id,     g.genre_name,
            p.ca_id,    p.platform_id,  pf.platform_name, pf.platform_bg_color, pf.platform_font_color,
            p.post_title,    p.post_writer,    p.publish_status,    p.publish_cycle,
            p.ep_id,    p.cur_ep,    p.total_ep,    p.reg_date,    p.update_date,    p.star_rate
        FROM tbl_post p
        LEFT OUTER JOIN prj_genre g
            ON p.genre_id = g.genre_id
        LEFT OUTER JOIN prj_platform pf
            ON p.platform_id = pf.platform_id
        WHERE post_no = #{postNo}
    </select>

    <delete id="remove">
        DELETE FROM tbl_post
        WHERE post_no = #{postNo}
    </delete>

    <update id="modify">
        UPDATE tbl_post
        SET
            genre_id=#{genreId},
            ca_id=#{caId},
            platform_id=#{platformId},
            post_title=#{postTitle},
            post_writer=#{postWriter},
            publish_status=#{publishStatus},
            publish_cycle=#{publishCycle},
            ep_id=#{epId},
            cur_ep=#{curEp},
            total_ep=#{totalEp},
            update_date = SYSDATE,
            star_rate=#{starRate}
        WHERE post_no = #{postNo}
    </update>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_post
    </select>

<!--    <select id="getTotalCount2" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM tbl_board-->
<!--        <if test="type == 'title'">WHERE title LIKE '%' || #{keyword} || '%'</if>-->
<!--        <if test="type == 'writer'">WHERE writer LIKE '%' || #{keyword} || '%'</if>-->
<!--        <if test="type == 'content'">WHERE content LIKE '%' || #{keyword} || '%'</if>-->
<!--        <if test="type == 'tc'">-->
<!--            WHERE title LIKE '%' || #{keyword} || '%'-->
<!--            OR content LIKE '%' || #{keyword} || '%'-->
<!--        </if>-->
<!--    </select>-->

</mapper>