<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibini.my_books.postnote.repository.PostMarkMapper">
    
    <resultMap id="markMap" type="com.ibini.my_books.postnote.domain.PostMark">
        <result property="markNo" column="mark_no" />
        <result property="postNo" column="post_no" />
        <result property="episodeNo" column="episode_no" />
        <result property="regDatetime" column="reg_datetime" />
        <result property="modDatetime" column="mod_datetime" />
        <result property="regAccount" column="reg_account" />
        <result property="modAccount" column="mod_account" />
        <result property="epId" column="ep_id" />
    </resultMap>



    <!-- 마크 저장 -->
    <insert id="save">
        INSERT INTO prj_post_mark
        (mark_no, post_no, episode_no, content, reg_account, mod_account)
        VALUES
        (seq_prj_post_mark.nextval, #{postNo}, #{episodeNo}, #{content}, #{regAccount}, #{modAccount})
    </insert>

    <!-- 마크 수정 -->
    <update id="modify">
        UPDATE prj_post_mark
        SET content = #{content},
<!--            mod_account = #{modAccount},-->
            mod_datetime = SYSDATE
        WHERE mark_no = #{markNo}
    </update>

    <!-- 마크 삭제 -->
    <delete id="remove">
        DELETE FROM prj_post_mark
        WHERE mark_no = #{markNo}
    </delete>

    <!-- 마크 전체 삭제 -->
    <delete id="removeAll">
        DELETE FROM prj_post_mark
        WHERE post_no = #{postNo}
    </delete>

    <!-- 마크 전체 조회 기능 -->
    <select id="findAll" resultMap="markMap">
        SELECT
            pm.mark_no, pm.post_no, p.ep_id, pm.episode_no, pm.content, pm.reg_account, pm.mod_account, pm.reg_datetime, pm.mod_datetime
        FROM prj_post_mark pm
        LEFT OUTER JOIN tbl_post p
            ON pm.post_no = p.post_no
        WHERE pm.post_no = #{postNo}
        ORDER BY pm.episode_no DESC
    </select>

    <!-- 마크 개별 조회 기능 -->
    <select id="findOne" resultMap="markMap">
        SELECT
            *
        FROM prj_post_mark
        WHERE mark_no = #{markNo}
    </select>

    <!-- 전체 마크 수 조회 -->
    <select id="getPostMarkCount" resultType="int">
        SELECT COUNT(*)
        FROM prj_post_mark
        WHERE post_no = #{postNo}
    </select>

</mapper>