<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibini.my_books.postnote.repository.PostMarkMapper">

    <resultMap id="markMap" type="com.ibini.my_books.postnote.domain.PostMark">
        <result property="markNo" column="mark_no" />
        <result property="postNo" column="post_no" />
        <result property="episodeNo" column="episode_no" />
        <result property="regDatetime" column="reg_datetime" />
        <result property="modDatetime" column="mod_datetime" />
        <result property="epId" column="ep_id" />
    </resultMap>

    <resultMap id="myPageMap" type="com.ibini.my_books.postnote.dto.MyPagePostDTO">
        <result property="postNo" column="post_no" />
        <result property="postTitle" column="post_title" />
        <result property="epId" column="ep_id" />
        <result property="thumbImg" column="file_name" />
    </resultMap>


    <!-- 마크 저장 -->
    <insert id="save">
        INSERT INTO prj_post_mark
            (post_no, episode_no, content, account)
        VALUES
            (#{postNo}, #{episodeNo}, #{content}, #{account})
    </insert>

    <!-- 마크 수정 -->
    <update id="modify">
        UPDATE prj_post_mark
        SET content = #{content},
            mod_datetime = current_timestamp
        WHERE mark_no = #{markNo}
    </update>

    <!-- 마크 삭제 -->
    <delete id="remove">
        DELETE FROM prj_post_mark
        WHERE mark_no = #{markNo}
    </delete>

    <!-- 마크 전체 삭제 -->
    <delete id="removeAll">
        DELETE FROM prj_post_mark
        WHERE post_no = #{postNo}
    </delete>

    <!-- 마크 전체 조회 기능 -->
    <select id="findAll" resultMap="markMap">
        SELECT
            pm.mark_no, pm.post_no, p.ep_id, pm.episode_no, pm.content, pm.account, pm.reg_datetime, pm.mod_datetime
        FROM prj_post_mark pm
        LEFT OUTER JOIN tbl_post p
            ON pm.post_no = p.post_no
        WHERE pm.post_no = #{postNo}
        ORDER BY pm.episode_no DESC
    </select>

    <!-- 마크 개별 조회 기능 -->
    <select id="findOne" resultMap="markMap">
        SELECT
            post_no, mark_no, episode_no, content, account, reg_datetime, mod_datetime
        FROM prj_post_mark
        WHERE mark_no = #{markNo}
    </select>

    <!-- 전체 마크 수 조회 -->
    <select id="getPostMarkCount" resultType="int">
        SELECT COUNT(*)
        FROM prj_post_mark
        WHERE post_no = #{postNo}
    </select>

    <!-- 마크 전체 조회 기능 With Search -->
    <select id="findAllWithSearch" resultMap="markMap">
        SELECT
            pm.post_no, p.ep_id, pm.mark_no, pm.episode_no, pm.content, pm.account, pm.reg_datetime, pm.mod_datetime
        FROM (
                select * from
                prj_post_mark
                WHERE 1=1
                <if test="search.type == 'content'">AND content LIKE CONCAT('%', #{search.keyword}, '%')</if>
                <if test="search.type == 'episodeNo'">AND episode_no = #{search.keyword}</if>
        ) pm
        LEFT OUTER JOIN tbl_post p
            ON pm.post_no = p.post_no
        WHERE pm.post_no = #{postNo}
        ORDER BY pm.episode_no
    </select>

    <!-- 마크 전체 조회 기능 With Search Except 2 Rows -->
    <select id="findAllWithSearchExcept2Rows" resultMap="markMap">
        SELECT
            pm.post_no, p.ep_id, pm.mark_no, pm.episode_no, pm.content, pm.account, pm.reg_datetime, pm.mod_datetime
        FROM (
                select * from
                prj_post_mark
                WHERE 1=1
                <if test="search.type == 'content'">AND content LIKE CONCAT('%', #{search.keyword}, '%')</if>
                <if test="search.type == 'episodeNo'">AND episode_no = #{search.keyword}</if>
        ) pm
        LEFT OUTER JOIN tbl_post p
            ON pm.post_no = p.post_no
        WHERE pm.post_no = #{postNo}
        ORDER BY pm.episode_no
        LIMIT 2, 99999999
    </select>

    <!-- 마이페이지 포스트, 썸네일 조회 -->
    <select id="findAllPostWithImg" resultMap="myPageMap">
        SELECT
            p.post_no, p.account, p.post_title, p.ep_id, i.file_name
        FROM (
                select * from
                tbl_post
                WHERE 1=1
                AND account = #{account}
                <if test="search.type == 'postTitle'">AND post_title LIKE CONCAT('%', #{search.keyword}, '%')</if>
        ) p
        LEFT OUTER JOIN prj_post_img i
            ON p.post_no= i.post_no
        WHERE i.thumbnail = 'true'
            OR i.thumbnail is null
        ORDER BY p.post_title
    </select>
</mapper>
